:root{
    --card-spell-overlay-overview-height: calc(var(--container-height) * 6 / 10);
    --card-spell-overlay-overview-width:  calc(var(--card-spell-overlay-overview-height) * 2 / 3);
    --card-spell-overlay-overview-left:   calc((var(--container-width) / 2) - (var(--card-spell-overlay-overview-width) /2 ));
}

#card-spell-overlay{
    position: absolute;
    width: var(--container-width);
    height: var(--container-height);
    z-index: var(--z-index-foreground);
    background: rgba(200, 0, 0, 0.4);
}

#card-spell-overlay-overview{
    position: absolute;
    height: var(--card-spell-overlay-overview-height);
    width: var(--card-spell-overlay-overview-width);
    bottom: 0px;
    left: var(--card-spell-overlay-overview-left);
    border-radius: 5px;
    border: solid 2px white;
    transition: opacity ease-in-out 0.5s;
    background-image: url(https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/character-ability-cards/TI/auto-turret.png);
    background-size: contain;
    z-index: var(--z-index-foreground);
  }