:root{
    --character-selection-panel-card-size: 160px;
    --character-selection-panel-card-offset: 40px;
    --character-selection-panel-card-margin: 40px;
    --character-selection-panel-padding: calc( ( var(--main-width) -  ( var(--character-selection-panel-card-size) * 10  )) / 2);
}

#character-selection-panel{
    position: absolute;
    width: var(--main-width);
    height: var(--main-height);
    padding-left: 200px;
    top: 0px;
    left: 0px;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding-left: var(--character-selection-panel-padding);
    padding-right: var(--character-selection-panel-padding);
}  

#character-selection-panel-top{
    position: absolute;
    top: 150px;
}

#character-selection-panel-bottom{
    position: absolute;
    bottom: 150px;
    padding-left: calc(var(--character-selection-panel-card-size) / 2);
}

#character-selection-panel-name{
    position: absolute;
    text-align: center;
    font-size: 60px;
    width: 400px;
    height: 80px;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -40px;
    font-family: 'Amatic SC', cursive;
}

.character-selection-panel-thumbnail{
    float: left;
    height: calc(2 * var(--character-selection-panel-card-size));
    width: var(--character-selection-panel-card-size);
    padding-left: 2px;
    padding-right: 2px;
    background-color: black;
}

.character-selection-panel-thumbnail:hover{
    cursor: pointer;
}

.character-selection-panel-thumbnail > img {
    width: 100%;
    height: 100%;
    transition: filter ease 0.2s, opacity ease 0.2s;
    box-sizing: border-box;
}

.character-selection-panel-thumbnail > img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
    border: solid 1px white;
    box-shadow: 0px 0px 5px 1px white;
}
  