:root{
    --game-level-editor-sandbox-width:2000px;
    --game-level-editor-assets-width: calc( var(--main-width) - var(--game-level-editor-sandbox-width));
    --game-level-editor-assets-menu-height: 40px;
    --game-level-editor-assets-tiles-map-preview-height: 150px;
    --game-level-editor-assets-tiles-map-preview-padding: 5px;
}

#game-level-editor{
    position: absolute;
    height:   var(--main-height);
    width:    var(--main-width);
}

#game-level-editor-header{
    position: absolute;
    height:   var(--header-height);
    width:    var(--main-width);
    border-bottom: solid 2px white;
}

#game-level-editor-sandbox{
    position: absolute;
    width:    var(--game-level-editor-sandbox-width);
    height:   calc( var(--main-height) - var(--header-height));
    top:      var(--header-height);
    overflow: hidden;
    background: black;
}

#game-level-editor-sandbox-background .tile:hover{
    transform: none !important;
    cursor: default !important;
}

#game-level-editor-sandbox-mouseover{
    box-shadow: inset 0 0 10px 10px #000000;
}

#game-level-editor-assets{
    position: absolute;
    width:    var(--game-level-editor-assets-width);
    height:   calc( var(--main-height) - var(--header-height));
    top:      var(--header-height);
    left:     var(--game-level-editor-sandbox-width);
    background-color: yellowgreen;
}

#game-level-editor-assets-menu{
    position: absolute;
    width:    var(--game-level-editor-assets-width);
    height:   var(--game-level-editor-assets-menu-height);
    background-color: black;
}

#game-level-editor-assets-menu div{
    color: white;
    float: left;
    width: calc( var(--game-level-editor-assets-width) / 4);
}

#game-level-editor-assets-content{
    position: absolute;
    top: var(--game-level-editor-assets-menu-height);
    width:    var(--game-level-editor-assets-width);
    height:   calc( var(--main-height) - var(--header-height) - var(--game-level-editor-assets-menu-height));
    background-color: black;
}

/** ************************** ********************************************************** **/
/** The map tile choice cards.                                                            **/

#game-level-editor-assets-tiles-map-preview{
    position: absolute;
    width: var(--game-level-editor-assets-width);
}

#game-level-editor-assets-tiles-map-preview > div{
    position: absolute;
    width: 33%;
    height: var(--game-level-editor-assets-tiles-map-preview-height);
    padding: var(--game-level-editor-assets-tiles-map-preview-padding);
}

#game-level-editor-assets-tiles-map-preview > div > div{
    position: absolute;
    width: calc( 100% - 2 * var(--game-level-editor-assets-tiles-map-preview-padding));
    height: calc( 100% - 2 * var(--game-level-editor-assets-tiles-map-preview-padding));
    cursor: pointer;
    border: solid 1px white;
    border-radius: 10px;
}

#game-level-editor-assets-tiles-map-preview > div > div:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 1px white;
    z-index: var(--z-index-foreground);
}

#game-level-editor-assets-tiles-map-preview div:nth-child(3n+2){
    left: 33%;
}

#game-level-editor-assets-tiles-map-preview div:nth-child(3n+3){
    left: 66%;
}

#game-level-editor-assets-tiles-map-preview div:nth-child(n+4){
    top: var(--game-level-editor-assets-tiles-map-preview-height);
}

#game-level-editor-assets-tiles-map-preview div:nth-child(n+7){
    top: calc(2 * var(--game-level-editor-assets-tiles-map-preview-height));
}

#game-level-editor-assets-tiles-map-preview div:nth-child(n+10){
    top: calc(3 * var(--game-level-editor-assets-tiles-map-preview-height));
}

#game-level-editor-assets-tiles-map-preview div:nth-child(n+13){
    top: calc(4 * var(--game-level-editor-assets-tiles-map-preview-height));
}

/** ************************************* *********************************************** **/
/** The map tile choice rotation buttons.                                                 **/

#game-level-editor-assets-tiles-map-rotation{
    position: absolute;
    top: calc(5 * var(--game-level-editor-assets-tiles-map-preview-height) + 20px);
    width: var(--game-level-editor-assets-width);
}

#game-level-editor-assets-tiles-map-rotation > div{
    position: absolute;
    width: 40%;
    padding: var(--game-level-editor-assets-tiles-map-preview-padding);
    left: 10%;
}

#game-level-editor-assets-tiles-map-rotation > div:nth-child(2){
    left: 50%;
}

#game-level-editor-assets-tiles-map-rotation > div > div{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: calc(100% - 2 * var(--game-level-editor-assets-tiles-map-preview-padding));
    height: 30px;
    border: solid 1px white;
    border-radius: 10px;
    background: var(--blueish-radial-background);
}

/** ******************************** *********************************************** **/
/** The map tile choice floor cards.                                                 **/

#game-level-editor-assets-tiles-map-ground{
    position: absolute;
    width: var(--game-level-editor-assets-width);
    top: calc(5 * var(--game-level-editor-assets-tiles-map-preview-height) + 70px);
}

#game-level-editor-assets-tiles-map-ground > div{
    width: calc(var(--game-level-editor-assets-width) / 4);
    height: calc(( var(--game-level-editor-assets-width) / 4));
    float: left;
    padding: var(--game-level-editor-assets-tiles-map-preview-padding);
}

#game-level-editor-assets-tiles-map-ground > div > div{
    width:               100%;
    height:              100%;
    background-size:     calc(var(--game-level-editor-assets-width) / 4 + 40px);
    background-repeat:   no-repeat;
    background-position: center;
    border-radius:       100%;
    border:              solid 1px white;
}  

#game-level-editor-assets-tiles-map-ground > div > div:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 1px white;
    z-index: var(--z-index-foreground);
    opacity: 1 !important;
}


