:root{
    --main-height:       1280px;
    --main-width:        2500px;
    --header-height:     30px;
    --footer-height:     300px;
    --right-panel-width: 300px;
    --left-panel-width:  200px;
    --side-panel-height: calc(var(--main-height) - var(--footer-height) - var(--header-height));
    --container-height:  calc(var(--main-height) - var(--footer-height) - var(--header-height));
    --container-width:   calc(var(--main-width) - var(--right-panel-width) - var(--left-panel-width));

    --z-index-background: 0;
    --z-index-veil:       500;
    --z-index-foreground:  1000;    
}

@font-face {
    font-family: 'abel';
    src: url('../fonts/Abel-Regular.ttf')  format('truetype');
  }

body{
    margin-left: 0;
    padding: 0;
    background-color: black;
    color:white;
    font-family: 'abel';
}

body, div {
    box-sizing: border-box;
}

#gloomhaven-container{
    position: fixed;
    height: var(--main-height);
    width: var(--main-width);
    left: calc( (100vw - var(--main-width)) / 2 );
    top: calc( (100vh - var(--main-height)) / 2 );
}

#veil{
    position: absolute;
    width: var(--main-width);
    top: 0px;
    height: var(--main-height);
    z-index: var(--z-index-veil);
    background-color: rgba(0, 0, 0, 0.5);
}

#header{
    position: absolute;
    width: var(--main-width);
    top: 0px;
    height: var(--header-height);
    border: solid 1px grey;
}

#left-panel{
    position: absolute;
    width: var(--left-panel-width);
    left: 0px;
    top: var(--header-height);
    height: var(--side-panel-height);
    border: solid 1px grey;
}

#main-content{
    position: absolute;
    width: var(--container-width);
    left: 0px;
    top: var(--header-height);
    left: var(--left-panel-width);
    height: var(--container-height);
    border: solid 1px grey;
}   

#right-panel{
    position: absolute;
    width: var(--right-panel-width);
    right: 0px;
    top: var(--header-height);
    height: var(--side-panel-height);
    border: solid 1px grey;
}

#footer {
    position: absolute;
    width: var(--main-width);
    height: var(--footer-height);
    bottom: 0px;
}

/** Utils **/
.d-none {
    display: none;
}

.no-select{
    user-select: none;
}

.clickable{
    cursor: pointer;
}

.grayscale-100{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grayscale-75{
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}
    
.opacity-0{
    opacity: 0;
}

.opacity-25{
    opacity: 0.25;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-75{
    opacity: 0.75;
}

.opacity-100{
    opacity: 100;
}

.z-index-foreground {
    z-index: var(--z-index-foreground);
}

.redish-background {
    background: radial-gradient(ellipse at bottom, #402426 0%, #130604 100%);
}

.greenish-background {
    background: radial-gradient(ellipse at bottom, #6b7a19 0%, #2e220a 100%);
}

.blueish-background {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.yellowish-background {
    background: radial-gradient(ellipse at bottom, #d49368 0%, #252529 100%);
}