:root{
    --health-tracker-width: 1000px;
    --health-tracker-height: 30px;
}

#health-tracker{
    width: var(--health-tracker-width);
    height: var(--health-tracker-height);
    background-color: pink;
}

#health-tracker:hover div{
    opacity: 1;
    /* box-shadow: 0px 0px 10px 2px red; */
}

.health-tracker-bubble{
    height: 27px;
    width: 30px;
    border-radius: 100%;
    background-image: url(../img/health-tracker-bubble.png);
    display: inline-block;
    transition: opacity ease-in-out 0.25s, box-shadow ease-in-out 0.25s;
}

#health-tracker div:hover{
    cursor: pointer;
}

#health-tracker div:hover ~ div{
    opacity: 0.05;
}

.health-tracker-max ~ div{
    opacity: 0.05;
}