:root{
    --card-hand-height: 200px;
    --card-hand-width: calc(var(--card-hand-height) * 2 / 3);
    --card-hand-offset: 30px;
  }
  
  /* Card discard */
  
  .card-discard-pile{
    display: inline-block;
  }
  
  .card-discard{
    height: var(--card-hand-height);
    width:  var(--card-hand-width);
    display: inline-block;
    background: url(https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/character-ability-cards/TI/ti-back.png);
    background-size: contain;
    border-radius: 5px;
  }
  
  .card-discard{
    height: var(--card-hand-height);
    width:  var(--card-hand-width);
    display: inline-block;
    background: url(https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/character-ability-cards/TI/ti-back.png);
    background-size: contain;
    border-radius: 5px;
  }
  
  .card-discard-next{
    margin-left: calc(-1 * var(--card-hand-width) - 2px);
  }
  
  /* Card lost */
  .card-lost-pile{
    height: var(--card-hand-height);
    width: calc(var(--card-hand-height) * 2 / 3);
    display: inline-block;
    background: url(https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/character-ability-cards/TI/ti-back.png);
    background-size: contain;
  }
  
  /* Card hand */
  
  #card-hand-list {
    padding-left: 10px;
    width: max-content;
    margin: 0 auto;
    bottom: 5px;
    display: inline-block;
  }
  
  .card-hand{
    height: var(--card-hand-height);
    width: calc(var(--card-hand-offset) + var(--card-hand-height) * 2 / 3);
    display: inline-block;
    padding-right:var(--card-hand-offset);
    transition: margin-right ease-in-out 0.2s;
  }
  
  .card-hand > div {
    height: 100%;
    width: 100%;
    border: solid 1px grey;
    border-radius: 5px;
    background: url(https://raw.githubusercontent.com/any2cards/gloomhaven/master/images/character-ability-cards/TI/auto-turret.png);
    background-size: contain;
  }
  
  .card-hand-next{
    margin-left: calc(var(--card-hand-height) * -2 / 3);
  }
  
  .card-hand:not(.card-hand-last):hover{
    /* margin-right: calc(var(--card-hand-height) * 2 / 3 - var(--card-hand-offset)); */
  }
  
  .card-hand:hover > div{
    box-shadow: 0px 0px 2px 1px grey;
    cursor: pointer;
  }
  