.tile {
    position: absolute;
    /* clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%); */
    cursor: pointer;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
}

.tile-background div:nth-child(1){
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

.tile-background div:nth-child(2){
    position: absolute;
    text-align: right;
    left: 25%;
    bottom: 25%;
}

.tile-background div:nth-child(3){
    position: absolute;
    text-align: right;
    right: 25%;
    bottom: 25%;
}

.tile-background{
    background-image: url("../img/tiles/background.png");
}

/* ****************  Natural stone Blue   ******************** */
/* *********************************************************** */

.tile-nsb0{
    background-image: url("../img/tiles/nsb0.png") ;
}

.tile-nsb1{
    background-image: url("../img/tiles/nsb1.png") ;
}

.tile-nsb2{
    background-image: url("../img/tiles/nsb2.png") ;
}

.tile-nsb3{
    background-image: url("../img/tiles/nsb3.png") ;
}

.tile-nsb4{
    background-image: url("../img/tiles/nsb4.png") ;
}

.tile-nsb5{
    background-image: url("../img/tiles/nsb5.png") ;
}

/* *********************  Green   **************************** */
/* *********************************************************** */

.tile-g0{
    background-image: url("../img/tiles/g0.png") ;
}

.tile-g1{
    background-image: url("../img/tiles/g1.png") ;
}

.tile-g2{
    background-image: url("../img/tiles/g2.png") ;
}

.tile-g3{
    background-image: url("../img/tiles/g3.png") ;
}

.tile-g4{
    background-image: url("../img/tiles/g4.png") ;
}

.tile-g5{
    background-image: url("../img/tiles/g5.png") ;
}

/* *********************   Wood   **************************** */
/* *********************************************************** */

.tile-w0{
    background-image: url("../img/tiles/w0.png") ;
}

/* ****************   Man Made Stone   *********************** */
/* *********************************************************** */

.tile-mms0{
    background-image: url("../img/tiles/mms0.png") ;
}


/* ********************* Rotation **************************** */
/* *********************************************************** */

.tile-rotate0{}

.tile-rotate1{
    transform: rotate(60deg);
}

.tile-rotate1 > *{
    transform: rotate(-60deg);
}

.tile-rotate2{
    transform: rotate(120deg);
}

.tile-rotate2 > *{
    transform: rotate(-120deg);
}

.tile-rotate3{
    transform: rotate(-60deg);
}

.tile-rotate3 > *{
    transform: rotate(60deg);
}

.tile-rotate4{
    transform: rotate(-120deg);
}

.tile-rotate4 > *{
    transform: rotate(120deg);
}

.tile-rotate5{
    transform: rotate(180deg);
}

.tile-rotate5 > *{
    transform: rotate(-180deg);
}

/* *********************  Overlay  *************************** */
/* *********************************************************** */

.overlay-green{
    background-image: url("../img/tiles/overlay-green.png");
    background-size: contain;
}
