:root{
    --main-height:       1280px;
    --main-width:        2500px;
    --header-height:     30px;
    --footer-height:     300px;
    --right-panel-width: 300px;
    --left-panel-width:  200px;
    --side-panel-height: calc(var(--main-height) - var(--footer-height) - var(--header-height));
    --container-height:  calc(var(--main-height) - var(--footer-height) - var(--header-height));
    --container-width:   calc(var(--main-width) - var(--right-panel-width) - var(--left-panel-width));

    --z-index-background: 0;
    --z-index-veil:       500;
    --z-index-foreground:  1000;
}

body{
    margin-left: 0;
    padding: 0;
    background-color: black;
    color:white;
}

body, div {
    box-sizing: border-box;
}

#game-container{
    position: fixed;
    height: var(--main-height);
    width: var(--main-width);
    left: calc( (100vw - var(--main-width)) / 2 );
    top: calc( (100vh - var(--main-height)) / 2 );
}

#veil{
    position: absolute;
    width: var(--main-width);
    top: 0px;
    height: var(--main-height);
    z-index: var(--z-index-veil);
    background-color: rgba(0, 0, 0, 0.5);
}

#header{
    position: absolute;
    width: var(--main-width);
    top: 0px;
    height: var(--header-height);
    border: solid 1px grey;
}

#left-panel{
    position: absolute;
    width: var(--left-panel-width);
    left: 0px;
    top: var(--header-height);
    height: var(--side-panel-height);
    border: solid 1px grey;
}

#main-content{
    position: absolute;
    width: var(--container-width);
    left: 0px;
    top: var(--header-height);
    left: var(--left-panel-width);
    height: var(--container-height);
    border: solid 1px grey;
}   

#right-panel{
    position: absolute;
    width: var(--right-panel-width);
    right: 0px;
    top: var(--header-height);
    height: var(--side-panel-height);
    border: solid 1px grey;
}

#footer {
    position: absolute;
    width: var(--main-width);
    height: var(--footer-height);
    bottom: 0px;
}

/** Utils **/
.d-none {
    display: none;
}

.opacity-0{
    opacity: 0;
}

/* 
.
.
.
*/

.opacity-100{
    opacity: 100;
}

.z-index-foreground {
    z-index: var(--z-index-foreground);
}