:root{
    --monster-tile-size: 50px;
    --monster-tile-hover-size: 70px;
    --monster-tile-hover-offset: calc((var(--monster-tile-hover-size) - var(--monster-tile-size)) / -2);
}

#monster-tile-overview{
    position: fixed;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 500px;
    background-image: url(../img/cave-bear-0.png);
    background-size: contain;
    z-index: var(--z-index-foreground);
    border-radius: 15px;
    border: solid 2px white;
    transition: opacity ease-in-out 0.5s;
}

.monster-tile{
    position: absolute;
    width: var(--monster-tile-size);
    height: var(--monster-tile-size);
    background-image: url(../img/cave-bear-portrait.png);
    background-size: contain;
    border-radius: 5px;
    border: solid 3px white;
    transition: width ease-in-out 0.25s, height ease-in-out 0.25s, margin-left ease-in-out 0.25s, margin-top ease-in-out 0.25s;
}

.monster-tile-epic{
    border-color: yellow;
}

.monster-tile:hover{
    width: var(--monster-tile-hover-size);
    height: var(--monster-tile-hover-size);
    margin-top: var(--monster-tile-hover-offset);
    margin-left: var(--monster-tile-hover-offset);
    cursor: pointer;
}