#container {
    width: 1000px;
    height: 1000px;
    background-color: grey;
}

.tile {
    position: absolute;
    clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);
    cursor: pointer;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 50%;
    /* background-image: url(http://placekitten.com/240/240); */
    background-color: white;
    padding: 30px;
}

.tile:hover{
    transform: scale(1.1);
    z-index: 10;
}